{% extends 'base.html' %}
{% block title %}Guest book{% endblock %}
{% block nav %}
<nav class="navbar navbar-dark bg-primary mb-4">
    <a class="navbar-brand font-weight-bold" href="{% url 'index_view' %}">GuestBook</a>
    <a class="navbar-brand font-weight-bold" href="{% url 'create_view' %}">Add</a>
</nav>
{% endblock %}

{% block content %}
    <form class="mb-3" action="{% url 'index_view' %}" method="GET">
        {% include 'partial/form.html' with button_text='Search' form=form_1 %}
    </form>
    {% for entry in entries %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ entry.name }} ({{ entry.mail }})</h5>
                <p class="text-justify">{{ entry.text }}</p>
                <form class="form-inline">
                    <a class="btn btn-danger btn-sm mr-3" href="{% url 'delete_view' entry.pk %}" role="button">Delete</a>
                    <a class="btn btn-info btn-sm" href="{% url 'update_view' entry.pk %}" role="button">Update</a>
                </form>
            </div>
        </div>
    {% endfor %}
    <form class="mb-5" action="{% url 'create_view' %}" method="POST">
        {% include 'partial/form.html' with button_text='Add' form=form_2 %}
    </form>
{% endblock %}
